--
-- PostgreSQL database dump
--

\restrict hUsdTaYwBQw9kKF8GHfkVFwndZ9b7gylRYgIQoaDhsJcIK0Zdw9yoRwTiz8wpXi

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: episodes; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.episodes (
    id integer NOT NULL,
    season_id integer NOT NULL,
    episode_number integer NOT NULL,
    title character varying(255),
    video_url text NOT NULL,
    thumbnail_url text,
    subtitle_url text,
    duration_seconds integer,
    uploaded_by integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.episodes OWNER TO anime;

--
-- Name: episodes_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.episodes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.episodes_id_seq OWNER TO anime;

--
-- Name: episodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.episodes_id_seq OWNED BY public.episodes.id;


--
-- Name: favorites; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.favorites (
    id integer NOT NULL,
    user_id integer NOT NULL,
    series_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.favorites OWNER TO anime;

--
-- Name: favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.favorites_id_seq OWNER TO anime;

--
-- Name: favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.favorites_id_seq OWNED BY public.favorites.id;


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.seasons (
    id integer NOT NULL,
    series_id integer NOT NULL,
    season_number integer NOT NULL,
    title character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.seasons OWNER TO anime;

--
-- Name: seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.seasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seasons_id_seq OWNER TO anime;

--
-- Name: seasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.seasons_id_seq OWNED BY public.seasons.id;


--
-- Name: series; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.series (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    cover_url text,
    genre character varying(100),
    added_by integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.series OWNER TO anime;

--
-- Name: series_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.series_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.series_id_seq OWNER TO anime;

--
-- Name: series_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.series_id_seq OWNED BY public.series.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    avatar_url text,
    created_at timestamp without time zone DEFAULT now(),
    is_admin boolean DEFAULT false NOT NULL,
    google_id character varying(255)
);


ALTER TABLE public.users OWNER TO anime;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO anime;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watch_history; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.watch_history (
    id integer NOT NULL,
    user_id integer NOT NULL,
    episode_id integer NOT NULL,
    progress_seconds integer DEFAULT 0,
    completed boolean DEFAULT false,
    last_watched_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.watch_history OWNER TO anime;

--
-- Name: watch_history_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.watch_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watch_history_id_seq OWNER TO anime;

--
-- Name: watch_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.watch_history_id_seq OWNED BY public.watch_history.id;


--
-- Name: watchlist; Type: TABLE; Schema: public; Owner: anime
--

CREATE TABLE public.watchlist (
    id integer NOT NULL,
    user_id integer NOT NULL,
    series_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.watchlist OWNER TO anime;

--
-- Name: watchlist_id_seq; Type: SEQUENCE; Schema: public; Owner: anime
--

CREATE SEQUENCE public.watchlist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watchlist_id_seq OWNER TO anime;

--
-- Name: watchlist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anime
--

ALTER SEQUENCE public.watchlist_id_seq OWNED BY public.watchlist.id;


--
-- Name: episodes id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.episodes ALTER COLUMN id SET DEFAULT nextval('public.episodes_id_seq'::regclass);


--
-- Name: favorites id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.favorites ALTER COLUMN id SET DEFAULT nextval('public.favorites_id_seq'::regclass);


--
-- Name: seasons id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.seasons ALTER COLUMN id SET DEFAULT nextval('public.seasons_id_seq'::regclass);


--
-- Name: series id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.series ALTER COLUMN id SET DEFAULT nextval('public.series_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: watch_history id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watch_history ALTER COLUMN id SET DEFAULT nextval('public.watch_history_id_seq'::regclass);


--
-- Name: watchlist id; Type: DEFAULT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watchlist ALTER COLUMN id SET DEFAULT nextval('public.watchlist_id_seq'::regclass);


--
-- Name: episodes episodes_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_pkey PRIMARY KEY (id);


--
-- Name: episodes episodes_season_id_episode_number_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_season_id_episode_number_key UNIQUE (season_id, episode_number);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_user_id_series_id_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_series_id_key UNIQUE (user_id, series_id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_series_id_season_number_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_series_id_season_number_key UNIQUE (series_id, season_number);


--
-- Name: series series_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: watch_history watch_history_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_pkey PRIMARY KEY (id);


--
-- Name: watch_history watch_history_user_id_episode_id_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_user_id_episode_id_key UNIQUE (user_id, episode_id);


--
-- Name: watchlist watchlist_pkey; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_pkey PRIMARY KEY (id);


--
-- Name: watchlist watchlist_user_id_series_id_key; Type: CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_user_id_series_id_key UNIQUE (user_id, series_id);


--
-- Name: episodes episodes_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id) ON DELETE CASCADE;


--
-- Name: episodes episodes_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: favorites favorites_series_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_series_id_fkey FOREIGN KEY (series_id) REFERENCES public.series(id) ON DELETE CASCADE;


--
-- Name: favorites favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: seasons seasons_series_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_series_id_fkey FOREIGN KEY (series_id) REFERENCES public.series(id) ON DELETE CASCADE;


--
-- Name: series series_added_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_added_by_fkey FOREIGN KEY (added_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: watch_history watch_history_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE CASCADE;


--
-- Name: watch_history watch_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: watchlist watchlist_series_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_series_id_fkey FOREIGN KEY (series_id) REFERENCES public.series(id) ON DELETE CASCADE;


--
-- Name: watchlist watchlist_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anime
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict hUsdTaYwBQw9kKF8GHfkVFwndZ9b7gylRYgIQoaDhsJcIK0Zdw9yoRwTiz8wpXi

